# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled extensions
*.so

# Numba
*.nbc
*.nbi
.numba_cache/

# Virtualenv
.venv/

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store

# Build / dist
build/
dist/
*.egg-info/

# Results
results/

.crossnote/
